<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="loginForm" [hidden]="isVisible">
      <h2>Votre pseudo</h2>
      <input type="text" [(ngModel)]="pseudo" />

      <h2>Difficulté</h2>
      <select>
        <option value=""></option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
      <div id="sauvegarderInfos">
        <input type="checkbox" value="false"/> Sauvegarder mes informations
      </div>
      <button (click)="verifierInfos()">Rechercher</button>
      <div *ngIf="error">
        <p>{{error}}</p>
      </div>
    </div>
  </div>
  <div id="question" [hidden]=isVisibleQuestion>
    <h3>{{pseudo}}, que nous offrira A.C. si nous arrivons à 100% de réussite ?</h3>
    <button (click)="reponse()">Réponse A</button>
    <button (click)="reponse()">Réponse B</button>
    <button (click)="reponse()">Réponse C</button>
    <button (click)="reponse()">Réponse D</button>
  </div>
  <div id="nextQuestion" [hidden]=isVisibleNextQuestion>
    <button>Question suivante</button>
  </div>
</ion-content>
