<!-- <p>{{binding}}</p>

<p>Formulaire -- binding dans les 2 sens</p>
<input type="text" [(ngModel)]="binding"/>

<button (click)="clicBouton()">Test</button> -->

<ion-list>
    <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input type="text" [(ngModel)] = "title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Année</ion-label>
        <ion-input type="number" [(ngModel)] = "year"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label >Type</ion-label>
        <ion-select [(ngModel)]="type">
            <ion-select-option value="">Tous</ion-select-option>
            <ion-select-option value="movie">Film</ion-select-option>
            <ion-select-option value="serie">Série</ion-select-option>
            <ion-select-option value="episode">Épisode</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button expands="full" (click)="rechercher()">Rechercher</button>
    <div *ngIf="error"><p>{{error}}</p></div>
</ion-list>

<ion-list *ngIf="films && films.length > 0">
    <ion-card *ngFor="let film of films">

            <img [src]="film.Poster">
            <ion-card-header>{{film.Title}}</ion-card-header>
            <ion-card-content>{{film.Year}}</ion-card-content>

    </ion-card>
</ion-list>
